<app-breadcrumb></app-breadcrumb>
<div class="contenedor fondo-gris">
    <div class="contenido para-friso">
        <app-spinner *ngIf="waitingInit"></app-spinner>
        <div class="card questions" *ngIf="!waitingInit" appLoadFade>
            <div class="header-card">
                <h1>{{exam?.title}}</h1>
                <div class="answers-data">
                    {{i + 1}} / {{exam.questions.length}}
                    <button class="m-l-small" *ngIf="!resumen" routerLink="/tests/listado-intentos">Salir</button>
                </div>
            </div>
            <hr>
            <app-spinner *ngIf="waiting"></app-spinner>
            <div class="body-card" *ngIf="!resumen && !waiting">
                <div class="question">
                    <span>{{('0' + (i + 1)).slice(-2)}}</span><span [innerHTML]="exam.questions[i].question"></span>
                </div>
                <form [formGroup]="form" class="questions">
                    <div class="questions" *ngIf="multi === false">
                        <label #labelsRef class="answer" *ngFor="let answer of answersData; let i = index">
                            <input disabled type="radio" name="answerRadio" formControlName="answerRadio" value="{{abcAnswers[i]}}">
                            {{abcAnswers[i]}}.- {{answer}}
                        </label>
                    </div>
                    <div class="questions" *ngIf="multi === true">
                        <label #labelsRef class="answer" formArrayName="answers" *ngFor="let answer of form.controls.answers.controls; let i = index">
                            <input disabled type="checkbox" [formControlName]="i">
                            {{abcAnswers[i]}}.- {{answersData[i]}}
                        </label>
                    </div>
                    <!-- <div class="questions">
                        <p>Feedback:</p>
                        <p>{{exam.questions[i].feedback.explanation}}</p>
                        <p>Reference:</p>
                        <p><a [href]="exam.questions[i].feedback.reference" target="_blank">{{exam.questions[i].feedback.reference}}</a></p>
                    </div> -->
                    <div class="question-buttons">
                        <button class="outline" *ngIf="i !== 0" (click)="setQuestion(-1)">
                            Anterior
                        </button>
                        <button class="outline m-l-small" *ngIf="i !== (exam.questions.length - 1)" (click)="setQuestion(1)">
                            Siguiente
                        </button>
                        <button class="m-l-small" *ngIf="i === (exam.questions.length - 1)" (click)="endExam()">
                            Ver resumen
                        </button>
                    </div>
                </form>
            </div>
            <div class="body-card" *ngIf="resumen && !waiting">
                <h2>Resumen</h2>
                <div class="resumen-final" [ngClass]="{'success': (acertadas/exam.questions.length) >= 0.5, 'danger': (acertadas/exam.questions.length) < 0.5}">
                    <div class="resumen-body">
                        <div>
                            <p class="numbers">{{acertadas}} / {{exam.questions.length}}</p>
                            <p>RESPUESTAS ACERTADAS</p>
                        </div>
                        <img src="assets/big-check.svg" *ngIf="(acertadas/exam.questions.length) >= 0.5">
                        <img src="assets/big-alert.svg" *ngIf="(acertadas/exam.questions.length) < 0.5">
                    </div>
                    <hr>
                    <div class="resumen-footer">
                        <p>{{intento.fecha | date: 'dd/MM/yyyy hh:mm'}}</p> 
                    </div>
                </div>
            </div>
            <div class="footer-card" *ngIf="resumen && !waiting">
                <button class="outline" routerLink="/tests/listado-intentos">Volver</button>
            </div>
        </div>
    </div>
</div>