.contenedor {
    width: 100%;
    margin-top: 180px;

    &.fondo-gris {
        background-color: #f9f9fc;
        min-height: 100vh;
    }
}

.contenido {
    width: 100%;
    max-width: 1440px;
    padding: 1em;

    &.para-friso {
        @include flex(row, space-between, stretch);
        margin: -4em auto 0;
    }

    &.flex {
        @include flex(row, flex-start, stretch);
    }

    &.flex-center {
        @include flex(row, center, stretch);
    }

    &.grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        grid-gap: 20px;
        justify-items: center;
    }
}

@media (max-width: 960px) {

    .contenido.para-friso {
        @include flex(column, center, center);
        margin: -4em auto 0;
    }
    
}


@media(max-width: 720px)  {
    .contenedor {
        flex-direction: column;
    }
}

@media(max-width: 720px)  {
    .contenido {
        padding: 0.5em;
    }
}

.header {
    background-color: $verde;

    div {
        color: white;
    }
}

.fila {
    width: 100%;
    padding: 0.5em;
    @include flex-row(flex-start, center);

    &.center {
        @include flex-row(center, center);
    }

    &.end {
        @include flex-row(flex-end, center);
    }
}

.col-100 {
    width: 100%;
    padding: 0.5em;
    @include flex-row(flex-start, center);
    position: relative;

    &.titulo {
        @include flex-row(space-between, center);
    }

    &.center {
        @include flex-row(center, center);
    }

    &.pila {
        @include flex-column (flex-start, flex-start);
    }

    &.botones {
        @include flex-row(flex-end, center);
    }
}

.col-66 {
    width: 66.6666666%;
    padding: 0.5em;
    @include flex-row(flex-start, center);
    
    &.pila {
        @include flex-column (flex-start, flex-start);
    }
}

.col-50 {
    width: 50%;
    padding: 0.5em;
    @include flex-row(flex-start, center);
    
    &.pila {
        @include flex-column (flex-start, flex-start);
    }
}

.col-33 {
    width: 33.3333333%;
    padding: 0.5em;
    @include flex-row(flex-start, center);
    
    &.pila {
        @include flex-column (flex-start, flex-start);
    }
}

.col-25 {
    width: 25%;
    padding: 0.5em;
    @include flex-row(flex-start, center);
    
    &.pila {
        @include flex-column (flex-start, flex-start);
    }
}

.m-t-1em {
    margin-top: 1em;
}

.m-r-1em {
    margin-right: 1em;
}

.m-b-1em {
    margin-bottom: 1em;
}

.m-l-1em {
    margin-left: 1em;
}