form {
    width: 100%;
}

.abc {
    @include flex-row(center, center);
    min-height: 40px;
    min-width: 40px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: $verde;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-right: 0.5em;
}

input {
    font-family: $fuente;
    font-size: 1em;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    color: $gris-oscuro;
    background-color: rgba(247,247,249,.7);
    background-repeat: no-repeat;
    background-position: 10px 14px;
    background-size: 20px 20px;
    padding: 0.8em 1em 0.8em 1em;
    width: 100%;
}

input::placeholder {
    color: $gris;
    font-family: $fuente;
}

input.user {
    padding: .8em 1em .8em 2.5em;
    background-image: url('../assets/user.svg');
}

input.email {
    padding: .8em 1em .8em 2.5em;
    background-image: url('../assets/mail.svg');
}

input.password {
    padding: .8em 1em .8em 2.5em;
    background-image: url('../assets/unlock.svg');
}

input:focus {
    outline: none;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

label.check-inline {
    @include flex-row(center,center);
    margin: 0 1em;
}

label {
    margin-bottom: 0.5em;
}

label.incorrecta {
    border: 2px solid $rojo;
}

label.correcta,
label.correcta.incorrecta {
    border: 2px solid $verde;
}

select {
    font-family: $fuente;
    font-size: 1em;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    color: $gris-oscuro;
    background-color: rgba(247,247,249,.7);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../assets/down.svg');
    background-repeat: no-repeat;
    background-position: 10px 14px;
    background-size: 20px 20px;
    padding: 0.8em 1em 0.8em 2.5em;
}

.value-selects {
    margin-bottom: 20px;
}

.value-select {
    color: #495057;
    padding: 5px 10px;
    border: 1px solid #495057;
    border-radius: 20px; 
    margin-right: 5px;
    cursor: pointer;
}

.value-select::after {
    content: "\002296";
    padding-left: 5px;
    font-size: 20px;
}

textarea {
    font-family: $fuente;
    font-size: 1em;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    color: $gris-oscuro;
    background-color: rgba(247,247,249,.7);
    background-repeat: no-repeat;
    background-position: 10px 14px;
    background-size: 20px 20px;
    padding: 0.8em 1em 0.8em 1em;
    width: 100%;
}

@media (max-width: 540px) {
    input {
        font-size: 0.9em;
    }
}

*[type="divarea"] {
    width: 100%;
}

.cke {
    border: none !important;
}

.cke_inner.cke_reset {
    border: none !important;
}

.cke_contents.cke_reset {
    background-color: rgba(247, 247, 249, 0.7) !important;
    font-family: $fuente;
    border-left: 4px solid rgba(247, 247, 249, 0.7) !important;
    border-right: 4px solid rgba(247, 247, 249, 0.7) !important;
}

.cke_top.cke_reset_all,
.cke_bottom.cke_reset_all {
    background-color: rgba(247, 247, 249, 0.7) !important;
    border: none !important;
}

.cke_top.cke_reset_all {
    border-radius: 4px 4px 0 0;
}
.cke_bottom.cke_reset_all {
    border-radius: 0 0 4px 4px;
}
