<div class="contenedor-center fondo-login">
    <form [formGroup]="loginForm" (ngSubmit)="inicioSesion()">
        <div class="fila">
            <div class="col-100 center">
                <img src="assets/logo.svg">
            </div>
        </div>
        <div class="fila">
            <div class="col-100">
                <input class="email" type="email" placeholder="Correo electrónico" formControlName="email" #email>
            </div>
        </div>
        <div class="fila">
            <div class="col-100">
                <input class="password" type="password" placeholder="Contraseña" formControlName="password">
            </div>
        </div>
        <div class="fila">
            <div class="col-100">
                <p class="switch-login">Si no dispone de cuenta pulse <a routerLink="/signin">aquí</a></p>
            </div>
        </div>
        <div class="fila">
            <div class="col-100 botones">
                <button type="submit" *ngIf="!waiting">
                    Iniciar sesión
                </button>
                <button type="button" *ngIf="waiting">
                    <span style="display: flex;"><div class="spinner-white"></div> Espere...</span>
                </button>
            </div>
        </div>
        <div *ngIf="verMensaje" class="fila">
            <div class="message danger" style="width: 100%">{{errores}}</div>
        </div>
    </form>
</div>
<app-modal *ngIf="modal" 
           [texto]="'Sesión iniciada en otro dispositivo, solo es posible mantener una sesión abierta.'"
           (action)="getAction($event)"></app-modal>