.resumen {
    @include flex-row(flex-start, flex-start);

    .datos {
        width: 70%;
        padding-right: 1em;

        p:nth-child(1) {
            margin-bottom: 2em;
        }
    }

    img {
        width: 30%;
    }
    
}


.features {
    width: 200px;
    @include flex-row(space-between, flex-end);
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    
    span {
        font-size: 16px;
        color: $gris-claro-font;
    }
}

.stats {
    width: 100%;
    
    p {
        font-size: 16px;
        margin-bottom: 0.5em;
        @include flex-row(space-between, flex-end);
    }
}

@media (max-width: 640px) {
    .resumen {
        flex-direction: column-reverse;

        .datos {
            width: 100%;
            padding-right: 1em;
    
            p:nth-child(1) {
                margin-bottom: 2em;
            }
        }
    
        img {
            width: 240px;
            align-self: center;
            margin-bottom: 1em;
        }
        
    }
}

.answers-data {
    font-size: 14px;
    @include flex-row(center, center);
}

.question {
    @include flex-row(flex-start, flex-start);
    width: 100%;
    margin-bottom: 0.5em;

    span:nth-child(1) {
        @include flex-row(center, center);
        min-height: 40px;
        min-width: 40px;
        border-radius: 30px;
        background-color: $verde;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        margin-right: 0.5em;
    }

    span:nth-child(2) {
        margin: 8px 0;
        font-size: 1.2em;
        line-height: 1.5;
        font-weight: bold;

        ul {
            list-style-type: square;
            margin: 1em;

            li {
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }

}

.question.answers-list {

    @include flex-row(space-between, center);
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 0.5px solid $gris-claro;

    div {
        @include flex-row(flex-start, center);

        span:nth-child(1) {
            @include flex-row(center, center);
            min-height: 40px;
            min-width: 40px;
            height: 40px;
            width: 40px;
            border-radius: 30px;
            background-color: $verde;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
            margin-right: 0.5em;
        }
    
        span:nth-child(2) {
            margin: 8px 0;
            font-size: 1em;
            line-height: 1.5;
            font-weight: initial;
        }
    
    }

}

form.questions {
    width: 100%;
}

.questions {
    width: 100%;
}

.answer {
    padding: 1em;
    border-radius: 5px;
    transition: all 400ms ease-in-out;
    width: 100%;
    display: block;
    line-height: 1.5;
    cursor: pointer;

    input {
        cursor: pointer;
        margin-left: 0.5em;
        width: 20px;
    }

    &:hover {
        background-color: $gris-claro;
    }

    &.ver:hover {
        background-color: white;
        cursor: initial;
    }
}

@media (max-width: 540px) {
    .answer {
        padding: 0.5em;
    }
} 

.question-buttons {
    margin-top: 1.5em;
    @include flex-row(flex-end, center);
}

.resumen-final {

    width: 30%;
    margin-top: 1.5em;
    color: white;
    border-radius: 0.4em;

    .resumen-body {
        padding: 1em 2em;
        @include flex-row(space-between, flex-end);
        font-size: 12px;

        .numbers {
            font-size: 22px;
            font-family: Arial, Helvetica, sans-serif;
        }

        img {
            height: 80px;
        }
    }

    hr {
        border: none;
        height: 1px;
        background-color: white;
        margin: 0;
    }

    .resumen-footer {
        font-size: 12px;
        padding: 1em 2em;
    }

    &.success {
        background-color: $verde;
    }

    &.danger {
        background-color: $rojo;
    }

}

@media (max-width: 540px) {
    .resumen-final {
        width: 100%;
    }
}

