<nav *ngIf="isLogged">
    <div class="cabecera">
        <div class="burger" #burger (click)="toggleMenu()">
            <div class="bar up"></div>
            <div class="bar middle"></div>
            <div class="bar down"></div>
        </div>
        <img *ngIf="!verMensaje" class="logo-white" src="assets/logo-white.svg" alt="">
        <div class="message" [ngClass]="tipoMensaje" *ngIf="verMensaje">{{mensaje}}</div>
        <div class="user">
            <span>
                <div class="perfil" *ngIf="imageSrc" [ngStyle]="{'background-image':'url(' + imageSrc + ')'}"></div>
                <!-- <span class="alert">1</span> -->
            </span>
            {{nombre}}
            <div class="dropdown">
                <div class="menu-user">
                    <div class="item"  routerLink="/tests/perfil/{{id}}">Mi perfil</div>
                    <hr>
                    <!-- <div class="item"  (click)="toggleOverlay()">
                        Mensajes <span class="alert">1</span>
                    </div>
                    <hr> -->
                    <div class="item"  (click)="showModal()">Ayuda</div>
                    <hr>
                    <div class="fila derecha">
                        <button (click)="exit()">Cerrar sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="menu-container" #menu>
    <div class="item" routerLink="/tests" (click)="toggleMenu()">
        <span>Inicio</span>
    </div>
    <hr>
    <div class="item" (click)="toggleOverlay(true); showModal()">
        <span>Ayuda y soporte</span>
    </div>
    <div class="item">
        &copy; 2019 ELERNIAM
    </div>
</div>
<app-modal *ngIf="modal" 
           [texto]="'La funcionalidad no está disponible, disculpen las molestias.'"
           [parametro]="id"
           (action)="getAction($event)"></app-modal>