<app-breadcrumb [rutas]="[{texto:'Inicio', ruta:'/'},{texto:'Admin', ruta:'/admin'}, {texto: 'Nueva pregunta'}]"></app-breadcrumb>
<div class="contenedor fondo-gris">
    <div class="contenido para-friso">
        <div class="card questions" appLoadFade>
            <div class="header-card">
                <h1>Nueva pregunta</h1>
            </div>
            <hr>
            <div class="body-card">
                <form [formGroup]="questionForm" (ngSubmit)="sendQuestion()">
                    <div class="fila">
                        <div class="col-100 pila">
                            <label for="question">Pregunta</label>
                            <input id="question" type="text" formControlName="question">
                        </div>
                    </div>
                    <div class="fila">
                        <div class="col-100 pila">
                            <label for="section">Sección (opcional)</label>
                            <input id="section" type="text" formControlName="section">
                        </div> 
                    </div>
                    <div class="fila">
                        <div class="col-100 titulo">
                            <label for="question">Respuestas</label>
                            <button type="button" *ngIf="questionForm.controls.items.controls.length < abcAnswers.length" class="mini success" (click)="addItem()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="bevel"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </button>
                        </div>
                    </div>
                    <div formArrayName="items">
                        <div *ngFor="let item of questionForm.controls.items.controls; let i = index">
                          <div [formGroupName]="i" class="fila">
                            <div class="col-100 titulo">
                                <span class="abc">{{abcAnswers[i]}}</span>
                                <input type="text" formControlName="answer">
                                <label class="check-inline">
                                    <input id="correct" type="checkbox" formControlName="correct">
                                    Correcta
                                </label>
                                <button type="button" class="mini danger" (click)="removeItem(i)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="bevel"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                </button>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="fila">
                        <div class="col-100 pila">
                            <label for="feedback">Feedback (opcional)</label>
                            <input id="feedback" type="text" formControlName="feedback">
                        </div>
                    </div>
                    <div class="fila">
                        <div class="col-100 botones">
                            <button class="outline" type="button" routerLink="/admin/editar-examen/{{id}}">Cancelar</button>
                            <button class="m-l-small" type="submit" *ngIf="!waiting">
                                Añadir pregunta
                            </button>
                            <button type="button" *ngIf="waiting">
                                <span style="display: flex;"><div class="spinner-white"></div> Espere...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>