<app-breadcrumb></app-breadcrumb>
<div class="contenedor fondo-gris">
    <div class="contenido para-friso" *ngIf="!waiting" >
        <!-- <app-spinner *ngIf="waiting"></app-spinner> -->
        <div class="card jumbo" appLoadFade>
            <div class="header-card">
                <h1>Resultados anteriores</h1>
            </div>
            <hr>
            <div class="body-card intentos" *ngFor="let intento of intentos">
                    <div>
                        <p>{{intento.examen | suspensivos: 40}}</p>
                        <p>
                            <span><img src="assets/clock.svg">&nbsp;{{intento.fecha | date:'dd/MM/yyyy'}}&nbsp;</span>                      
                            <span *ngIf="intento.acertadas !== undefined && (intento.acertadas/intento.correctas.length) >= 0.5"><img src="assets/check-circle.svg">&nbsp;{{intento.acertadas}}/{{intento.correctas.length}}</span>
                            <span *ngIf="intento.acertadas !== undefined && (intento.acertadas/intento.correctas.length) < 0.5"><img src="assets/alert-triangle.svg">&nbsp;{{intento.acertadas}}/{{intento.correctas.length}}</span>
                            <span *ngIf="intento.acertadas === undefined"><img src="assets/alert-triangle.svg">&nbsp;Incompleto</span>
                        </p>
                    </div>
                    <div>
                        <button class="info" routerLink="intento/{{userId}}/{{intento._id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="bevel"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                        </button>
                    </div>                    
            </div>
        </div>
        <div class="card side" *ngIf="!waitingInit" appLoadFade>
            <div class="header-card">
                <h1>Stats</h1>
            </div>
            <hr>
            <div class="body-card">
                <div class="stats" *ngIf="intentos">
                    <p>Nº INTENTOS <span class="badge info">{{intentos.length}}</span></p> 
                    <p>RESULTADOS <span class="badge success">{{percentPass}} %</span></p> 
                    <p>ÚLTIMO INTENTO <span class="badge warning">{{intentos[0].fecha | date:'dd/MM/yy'}}</span></p> 
                </div>
            </div>
        </div>
    </div>
</div>