<app-breadcrumb [rutas]="[{texto:'Inicio', ruta:'/'}]"></app-breadcrumb>
<div class="contenedor fondo-gris">
    <div class="contenido para-friso grid" *ngIf="!waiting" >
        <div class="card" *ngFor="let exam of exams" appLoadFade>
            <div class="header-card">
                <h2>{{exam.title}}</h2>
            </div>
            <hr>
            <div class="body-card">
                <img [src]="exam.pic">
            </div>
            <div class="footer-card">
                <button *ngIf="exam.production" routerLink="exam/{{exam._id}}">Acceder</button>
                <button *ngIf="!exam.production">Próximamente</button>
            </div>
        </div>
    </div>
    <app-spinner *ngIf="waiting"></app-spinner>
</div>