<app-breadcrumb [rutas]="rutas"></app-breadcrumb>
<div class="contenedor fondo-gris">
    <div class="contenido para-friso">
        <app-spinner *ngIf="waitingInit"></app-spinner>
        <div class="card jumbo" *ngIf="!waitingInit" appLoadFade>
            <div class="header-card">
                <h1>{{exam?.title}}</h1>
            </div>
            <hr>
            <div class="body-card">
                <div class="resumen">
                    <div class="datos">
                        <p>{{exam?.description}}</p>
                        <p class="features"><span>DURACIÓN </span> {{exam?.duration}}'</p> 
                        <p class="features"><span>Nº PREGUNTAS </span> {{exam?.questions.length}}</p> 
                    </div>
                    <img src="{{exam?.pic}}" alt="">
                </div>
            </div>
            <div class="footer-card">
                <button class="outline" routerLink="/tests/listado-intentos/{{exam._id}}">Ver resultados anteriores</button>
                <button class="m-l-small" *ngIf="!waiting" type="submit" (click)="startExam()">
                        Nuevo intento
                </button>
                <button class="m-l-small" type="button" *ngIf="waiting">
                        <span style="display: flex;"><div class="spinner-white"></div> Espere...</span>
                </button>
            </div>
        </div>
        <div class="card side" *ngIf="!waitingInit" appLoadFade>
            <div class="header-card">
                <h1>Stats</h1>
            </div>
            <hr>
            <div class="body-card">
                <div class="stats" *ngIf="intentos">
                    <p>Nº INTENTOS <span class="badge info">{{intentos.length}}</span></p> 
                    <p>RESULTADOS <span class="badge success">{{percentPass}} %</span></p> 
                    <p>ÚLTIMO INTENTO <span class="badge warning">{{intentos[0].fecha | date:'dd/MM/yy'}}</span></p> 
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal *ngIf="modal" 
           [texto]="'La funcionalidad no está disponible, disculpen las molestias.'"
           [parametro]="id"
           (action)="getAction($event)"></app-modal>