<div class="contenedor-center fondo-login">
    <form [formGroup]="signInForm" (ngSubmit)="sendUser()">
        <div class="fila">
            <div class="col-100 center">
                <img src="assets/logo.svg">
            </div>
        </div>
        <div class="fila">
            <div class="col-100">
                <input class="user" type="text" placeholder="Nombre y apellidos" formControlName="nombre" #nombre autocomplete="off">
            </div>
        </div>
        <div class="fila">
            <div class="col-100">
                <input class="email" type="email" placeholder="Correo electrónico" formControlName="email" autocomplete="off">
            </div>
        </div>
        <div class="fila">
            <div class="col-100">
                <input class="password" type="password" placeholder="Contraseña" formControlName="password" autocomplete="off">
            </div>
        </div>
        <!-- <div class="fila">
            <div class="col-100">
                <input class="password" type="password" placeholder="Repetir contraseña" formControlName="repassword" autocomplete="off">
            </div>
        </div> -->
        <div class="fila">
            <div class="col-100 botones">
                <!-- <button type="submit" [disabled]="loginForm.invalid">
                    <span *ngIf="!waiting">Iniciar sesión</span>
                    <span *ngIf="waiting" style="display: flex;"><div class="spinner-white"></div> Espere...</span>
                </button> -->
                <button type="submit" routerLink="/tests">
                    Crear cuenta
                </button>
            </div>
        </div>
        <div class="fila">
            <div class="col-100">
                <p class="switch-login">Si ya dispone de cuenta pulse <a routerLink="/login">aquí</a></p>
            </div>
        </div>
        <div *ngIf="message" class="fila">
            <div class="message danger" style="width: 100%">{{errores}}</div>
        </div>
    </form>
</div>